rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /animals/{allPaths=**} {
      allow read: if true;
      allow write: if false; // Only allow write from Admin SDK (Functions)
    }
  }
}