.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.runRate {
    font-family: 'Bayon';
    font-size: 20px;
    font-weight: 200;
    color: var(--color-text-tertiary);
}
