:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* App Specific Colors */
  --color-neutral-950: #0a0a0a;
  --color-white: #ffffff;
  --color-white-5: rgba(255, 255, 255, 0.05);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-white-30: rgba(255, 255, 255, 0.3);
  --color-white-40: rgba(255, 255, 255, 0.4);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-60: rgba(255, 255, 255, 0.6);
  
  --color-blue-400: #60a5fa;
  --color-blue-400-60: rgba(96, 165, 250, 0.6);
  --color-purple-400: #c084fc;
  --color-purple-400-60: rgba(192, 132, 252, 0.6);
  --color-emerald-400: #34d399;
  --color-emerald-400-60: rgba(52, 211, 153, 0.6);
  
  --color-red-500: #ef4444;
  --color-red-500-10: rgba(239, 68, 68, 0.1);
  --color-red-500-50: rgba(239, 68, 68, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
